@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
//height: 100%;//
}

body{
background-image: linear-gradient(to bottom, #012340, #025939);
}
main{
background-color: rgba(255, 255, 255, 0.849);
width: 700px;
padding: 10px;
margin: auto;
border-radius: 15px;
box-shadow: 5px 5px 15px #012340;
}

h1{
    box-shadow: 1 1 2 #027333; 
    text-align: center;
    color: #027333;
}
h2{
color: #03A63C;
}

p{
text-align: justify;
}